*{
   font-family: "Nata Sans", sans-serif;
    padding: 0px;
    margin: 0px;
}
body{
    width: 100vw;
    overflow-x: hidden;
    background-color: #44c9b3;
}
.navBar{
    display: flex;
    flex-direction: row;
    width: 98vw;
    justify-content: space-between;
    padding: 10px 1vw;
    background-color: #de8833;
    color: white;
}
.navBarRightPart{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.navBarControls{
    height: max-content;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    cursor: pointer;
}
.inputImage input[type="file"]{
    background-color: #44c9b3;
    color: white;
}
.timer{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.grids{
    display: flex;
    flex-direction: row;
    width: max-content;
    gap: 20px;
    margin: 20px auto;
    position: relative;
}
.grid1{
    width: 450px;
    height: 450px;
    display: grid;
    grid-template-columns: 140px 140px 140px;
    grid-template-rows: 140px 140px 140px;
    gap: 15px;
}
.grid1Box{
    background-color: rgba(255, 255, 255, 0.221);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}
.grid2{
    width: 450px;
    height: 450px;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: rgba(255, 255, 255, 0.221);
    border-radius: 5px;
    overflow: hidden;
}
.grid2Box{
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.163);
}
.innerBox{
    width: 140px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    cursor: grab;
    border-radius: 5px;
}
.dropzone{
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.221);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#time{
 width: 200px;
}
